.tab-menu {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
        width: 100%;
        height: 1px;
        background-color: #fff;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
    }

    &::before {
        width: 25%;
        height: 2px;
        background-color: $main-color;
    }

    label {
        color: #fff;
    }
}

#ara-yemek:checked~.tab-menu::before {
    left: 34%;
}

#icecek:checked~.tab-menu::before {
    left: 62%;
}

#tatli:checked~.tab-menu::before {
    left: 85%;
}

.food {

    margin: 20px 20px 0;

    &>div {

        color: #fff;
    }

    .menus {
        margin-top: 30px;
    }

    &__card {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 6px 6px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $main-color;
        padding: 20px;

        div {
            color: $text-color;
            font-weight: 600;
        }

        &__price-header {
            font-size: 13px;
        }

        &__price {
            font-size: 20px;
        }

        &__direct-card {
            a {
                color: $text-color;
            }
        }
    }
}


/* Yiyeceklere ait olan css kodları */

.snack-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
        display: flex;
        align-items: center;
        gap: 12px;
        position: relative;
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;

        &:last-of-type{
            margin-bottom: 80px;
        }

        &__price {
            position: absolute;
            right: 0;
            top: 0;
            background-color: $main-color;
            color: $text-color;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 600;
        }

        &__content {
            &__header {
                color: $text-color;
                font-size: 16px;
                font-weight: bold;
            }

            &__food-info {
                &__header {
                    color: $text-color;
                    font-size: 13px;
                    margin: 5px 0;
                    font-weight: 500;
                }

                ul {
                    li {
                        position: relative;
                        font-size: 11px;
                        color: $secondary-text-color;
                        margin-left: 10px;

                        &::before {
                            content: "";
                            position: absolute;
                            left: -10px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 6px;
                            height: 6px;
                            background-color: $main-color;
                            border-radius: 50%;
                        }
                    }
                }
            }

        }

        &__add-card {
            position: absolute;
            right: 0;
            bottom: 0;

            button {
                background-color: $main-color;
                border: none;
                font-size: 13px;
                font-weight: bold;
                padding: 5px 15px;
                border-top-left-radius: 6px;
                color: $text-color;
            }
        }
    }
}