$main-color : #FFE066;
$secondary-color: #F8F9FA;
$text-color: #343A40;
$secondart-text-color: #CED4DA;
$secondary-text-color: #868E96;
$border-color : #cfcfcf;
$border: 1px solid $border-color;
$radius: 6px;